.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  width: 160px;
  line-height: 36px;
  text-align: center;
  font-family: Noto Sans JP;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

h2 {
  font-family: $ttl-font;
  font-size: 32px;
}
